 #login-toast {
  background-color: #efdfdf;
  color: #d9534f;
  width: fit-content;
}


#container {
  width: 100%;
}
 
@media screen and (min-width: 769px) {
  #container {
    width: 25%;
  }
}
 
 
